    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">Latapp</h1>
    </ion-header-bar>

    <ion-content scroll="false">
	<div class="content">
		<div class="row">
		<div class="col col-75">
	<img src="img/logo-latapp.png" width="200px">
		<p>Latap es una empresa ubicada en ...</p>
		</div>
		</div>
	</div>
		
   	</ion-content>
	
	<ion-footer-bar class="bar-stable bar-positive">
	<div class="button-bar">
	  <a href="#/mapa"  class="button icon-left  ion-earth">Mapa</a>
	  <a href="#/puntos" class="button icon-left ion-location">Puntos</a>
	  <a href="#/settings" class="button icon-left ion-settings button-positive">Settings</a>
	</div>
	 </ion-footer-bar> 
	
