    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">Settings</h1>
    </ion-header-bar>

    <ion-content scroll="false">
		<div class="list">
			<a class="item item-icon-left " href="#">
			Idioma
			<i class="icon ion-speakerphone"></i>
			</a>
			<a class="item item-icon-left" href="#">
			<i class="icon ion-cube"></i> 
			Version Beta 0.1
			</a>
			<a class="item item-icon-left" href="#">
			<i class="icon ion-connection-bars"></i>
			Estado Sistema
			</a>
			<a class="item item-icon-left" href="#/latapp">
			<i class="icon ion-map"></i>
			Acerca de Latapp
			</a>
		</div>
   	</ion-content>
	
	<ion-footer-bar class="bar-stable bar-positive">
	<div class="button-bar">
	  <a href="#/mapa"  class="button icon-left  ion-earth">Mapa</a>
	  <a href="#/puntos" class="button icon-left ion-location">Puntos</a>
	  <a href="#/settings" class="button icon-left ion-settings button-positive">Settings</a>
	</div>
	 </ion-footer-bar> 
